@font-face {
  font-family: "Adamina";
  src: url("../fonts/subset-Adamina-Regular.woff2") format("woff2"),
    url("../fonts/subset-Adamina-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Indie Flower";
  src: url("../fonts/subset-IndieFlower.woff2") format("woff2"),
    url("../fonts/subset-IndieFlower.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope-Bold";
  src: url("../fonts/subset-Manrope-Bold.woff2") format("woff2"),
    url("../fonts/subset-Manrope-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/subset-Manrope-Regular.woff2") format("woff2"),
    url("../fonts/subset-Manrope-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
